.navStyle {
  background-color: rgba(228, 193, 236, 0.295) !important;
  border-bottom: 1px solid #dee2e6 !important;
   box-shadow: 
    0 0 15px 4px rgba(0, 0, 0, 0.253), /* Outer shadow */
    inset 20px -10px 25px 2px rgb(255, 255, 255) !important; /* Inner shadow */
}

/* Search Form Centered */
.search-form {
  width: 100% !important;
  max-width: 500px !important;
}

/* Custom Search Input */
.custom-search-input {
  padding: 12px 16px !important;
  border-radius: 50px !important;
  border: none !important;
  background-color: #f0f0f083 !important;
  color: #333 !important;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.404) !important;
  transition: all 0.3s ease-in-out !important;
}

.custom-search-input::placeholder {
  color: #999 !important;
}

.custom-search-input:focus {
  background-color: #fff !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.247) !important;
  outline: none !important;
}

/* Custom Search Button */
.custom-search-btn {
  padding: 12px 20px !important;
  border-radius: 50px !important;
  border: none !important;
  background-color: #0000008c !important;
  color: white !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.custom-search-btn:hover {
  background-color: #000 !important;
  transform: scale(1.05) !important;
}
