.auth-bg {
    background: url('https://images.unsplash.com/photo-1614630669107-f48325791b57?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c25vdyUyMGZvcmVzdHxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center/cover;
    height: 100vh;
    padding: 20px;
    background-size: cover;
  }
  
  
  
  .auth-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 100%;
    max-width: 400px;
    color: #fff;
  }
  
  .form-control {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
  }
  
  .form-control::placeholder {
    color: #eee;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
  }
  
  .btn-outline-light:hover {
    background-color: #ffffff;
    color: #000;
    transition: all 0.3s ease-in-out;
  }
      